<footer id="footer-content" class="footer">
  <div class="container">
    {% if has_footer %}      
    {% assign cols = '' %}
    {% for i in (i..3) %}
    {% assign c = i | plus: 1 %}
    {% assign col = 'column-' | append: c %}
    {% assign col_blog = col | append: '-blog' %}
    {% assign col_menu = col | append: '-menu' %}
    {% assign col_text = col | append: '-text' %}

    {% if settings[col_blog] != blank or settings[col_menu] != blank or settings[col_text] != blank or settings.newsletter-signup-placement contains col or settings.social-footer-column-1 or settings.social-footer-column-2 or settings.social-footer-column-3 or settings.social-footer-column-4 %}
    {% assign cols = cols | append: col | append: '|' %}
    {% endif %}
    {% endfor %}
    {% assign footer_columns = cols | split: '|' %}

    <div class="row">
      {% for footer_column in footer_columns %}
      {% include 'footer-column-loop' %}
      {% endfor %}
    </div>
    {% endif %}

  <p class="text-center footer-credits">
      <small>
        &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>. <br class="visible-sm">
        Powered&nbsp;by&nbsp;<a href="http://elfamoso.io/" target="_blank">El Famoso</a>.
      </small>
    </p>

    <p class="ef">
      <a href="http://elfamoso.io/" target="_blank">
        <img src="{{ 'custom-footer-logo-file.png' | asset_url }}" alt="El Famoso" class="img-responsive center-block" />
      </a>
    </p>	
  </div>

  {% if has_footer_navbar %}{% include 'navbar' with 'footer' %}{% endif %}
</footer>