<div class="row{% if thumbnail_layout == 'masonry' %} masonry-collection{% endif %}">
	{% if template contains 'index' %}
		{% if t_object != blank %}
			{% assign product_collection = t_object %}
  		{% elsif products-list != blank %}
 			 {% assign product_collection = products-list %}
		{% else %}
			{% assign product_collection = collections[settings.homepage-products-collection] %}
		{% endif %}
	{% elsif collection %}
		{% assign product_collection = collection %}
	{% endif %}
	{% if template contains 'index' or products-list == 'limit' %}
	  {% if settings.homepage-products-limit contains 'unlimited' %}{% assign limit = nil %}{% else %}{% assign limit = settings.homepage-products-limit %}{% endif %}
	{% endif %}
  

  {% if settings.move-out-of-stock-to-bottom %}
    {% for p in product_collection.products | limit: limit %}
      {% if p.available %}
      {% include 'product-loop' with p %}
      {% endif %}
      {% endfor %}
      {% for p in product_collection.products | limit: limit %}
      {% unless p.available %}
      {% include 'product-loop' with p %}
      {% endunless %}
    {% endfor %}
  {% else %}
      {% for p in product_collection.products | limit: limit %}
          {% assign product_count = forloop.length %}
          {% include 'product-loop' with p %}
      {% endfor %}
  {% endif %}
  
</div>