/*all theme styles*/

form.search-form.navbar-form {
    margin-left: 14px;
} 

span.label.label-unavailable {
    position: absolute;
    right: 0;
    bottom: 0;
}

.thumbnail-image {
    position: relative;
}

span.label.label-unavailable {
    text-indent: -1000000px;
    background: url(//cdn.shopify.com/s/files/1/2217/6221/t/3/assets/outofstock.png?10438187082838247064) no-repeat center center;
/*update the background image link*/
    width: 95px;
    height: 97px;
    background-size: 100% auto;
}

/*END all theme styles*/